.create_user {
    display: flex;
    text-align: center;
}

#addSurname {
    flex: 1 1 0%;
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--grey);
    font-size: 1.25rem;
}

.header_1_text {
    text-transform: uppercase;
    font-size: 8vw;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    text-align: center;
}

.btn_create_user {
    background-color: #180670;
    border-radius: 50px;
    border-width: 0;
    box-shadow: rgba(25, 25, 25, .04) 0 0 1px 0, rgba(0, 0, 0, .1) 0 3px 4px 0;
    color: rgb(180, 131, 19);
    cursor: pointer;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 1em;
    height: 50px;
    padding: 0 25px;
    transition: all 200ms;
}

.btn_create_user:hover {
    background-color: #b8bcd6;
    transform: scale(1.05);
}